#IMAGE=janole/vpn

#CA_COUNTRY="US"
#CA_STATE="Alderaan"
#CA_LOCATION="Alderaan"
CA_CN="ca.my-own-site.org"

#VPN_COUNTRY="US"
#VPN_STATE="Alderaan"
#VPN_LOCATION="Alderaan"
VPN_CN="vpn.my-own-site.org"
#VPN_ADDR="123.45.67.89"
#VPN_PORT="1194"

#CLIENT_COUNTRY="US"
#CLIENT_STATE="Outer Rim"
#CLIENT_LOCATION="Outer Rim"
CLIENT_CN="test-client-1"
