client
dev tun
resolv-retry infinite
nobind
persist-key
persist-tun
cipher AES-256-GCM
auth SHA512
verb 1
tls-client
tls-version-min 1.2
key-direction 1
remote-cert-tls server
${CONNECTION1}
${CONNECTION2}
<ca>
${CACERT}
</ca>
<cert>
${CLIENTCERT}
</cert>
<key>
${CLIENTKEY}
</key>
<tls-auth>
${VPNTAKEY}
</tls-auth>
