client
dev tun
resolv-retry infinite
nobind
persist-key
persist-tun

# --- IPv6 Leak Protection ---
# The following two lines redirect all IPv6 traffic into the VPN.
route-ipv6 ::/1
route-ipv6 8000::/1
# ---------------------------

cipher AES-256-GCM
auth SHA512
verb 1
tls-client
tls-version-min 1.2
key-direction 1
remote-cert-tls server
${CONNECTION1}
${CONNECTION2}
<ca>
${CACERT}
</ca>
<cert>
${CLIENTCERT}
</cert>
<key>
${CLIENTKEY}
</key>
<tls-crypt>
${VPNTAKEY}
</tls-crypt>
