port ${VPN_PORT}
proto ${VPN_PROTO}
dev tun
topology subnet
ca ${VPNCAFILE}
cert ${VPNCERTFILE}
key ${VPNKEYFILE}
dh ${VPNDHFILE}
server 10.8.0.0 255.255.255.0
${VPN_DEF1}
${VPN_DNS1}
${VPN_DNS2}
${VPN_ROUTE1}
${VPN_ROUTE2}
${VPN_ROUTE3}
duplicate-cn
keepalive 10 120
cipher AES-256-GCM
data-ciphers AES-256-GCM:AES-256-CBC
auth SHA512
persist-key
persist-tun
status openvpn-status.log
verb 1
tls-server
tls-version-min 1.2
tls-auth ${VPNTAKEYFILE} 0
